body {
    display: flex;
    justify-content: center;
}

@keyframes morph {
        0%, 100% {
            border-radius:
            42% 56% 72% 28% / 42% 42% 56% 48%;
        }
    33% {
        border-radius:
        72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius:
        100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}

.paymentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 24rem;
    height: 20rem;
    border-radius:
     42% 56% 72% 28% / 42% 42% 56% 48%;

    background: #332c3c;
    background-size: cover;
    background-position: center;

    animation: morph 3.75s linear infinite;
    margin-bottom: 90px;
}


.headerTitle {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.venmoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.venmo {
    height: 45px;
    width: 250px;
    padding-bottom: 35px;
}

.venmoLink {
    text-decoration: none;
    background-color: rgb(61, 149, 206);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bolder;
     color: white;
     text-decoration: none;
}